.mods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dd2c00;
  background-color: #272525c5;
  padding: 0px;
  border: 1px solid #dd2c00;
  border-radius: 20px;
}
.mods ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.mod {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 20px;
  margin: 45px;
  padding: 15px;
  width: 400px;
}
.mod h3 {
  margin: none;
}
.mod p {
  margin: none;
}
.mod img {
  max-width: 250px;
  border-radius: 20px;
  margin: none;
  border: 2px solid #dd2c00;
}

@media only screen and (min-width: 550px) {
  .mods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dd2c00;
    background-color: #272525c5;
    padding: 0px;
    border: 1px solid #dd2c00;
    border-radius: 20px;
  }
  .mods ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .mod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin: 45px;
    padding: 15px;
    width: 400px;
  }
  .mod h3 {
    margin: none;
  }
  .mod p {
    margin: none;
  }
  .mod img {
    max-width: 250px;
    border-radius: 20px;
    margin: none;
  }
}
@media only screen and (min-width: 650px) {
  .mods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dd2c00;
    background-color: #272525c5;
    padding: 0px;
    border: 1px solid #dd2c00;
    border-radius: 20px;
  }
  .mods ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .mod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin: 45px;
    padding: 15px;
    width: 400px;
  }
  .mod h3 {
    margin: none;
  }
  .mod p {
    margin: none;
  }
  .mod img {
    max-width: 250px;
    border-radius: 20px;
    margin: none;
  }
}
@media only screen and (min-width: 850px) {
  .mods {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dd2c00;
    background-color: #272525c5;
    padding: 0px;
    border: 1px solid #dd2c00;
    border-radius: 20px;
  }
  .mods ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
  }
  .mod {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
    margin: 45px;
    padding: 15px;
    width: 400px;
  }
  .mod h3 {
    margin: none;
  }
  .mod p {
    margin: none;
  }
  .mod img {
    max-width: 250px;
    border-radius: 20px;
    margin: none;
  }
}
