html {
  background: url(https://media.discordapp.net/attachments/701514992767205459/719443695635660810/rust-rust-game-rust-art.jpg?width=1009&height=644)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html::after {
  background-color: #000000;
  content: "";
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200%;
  height: 400%;
  z-index: -1;
  opacity: 0.6;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  width: 100%;
}
h1 {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 42px;
  color: #dd2c00;
  text-shadow: 0px 0px 6px #000000;
}
h2 {
  font-family: "Baloo Paaji 2", cursive;
  font-size: 30px;
  color: #dd2c00;
  text-shadow: 0px 0px 3px #000000;
}
h3 {
  font-family: "Baloo Paaji 2", cursive;
  text-shadow: 0px 0px 3px #000000;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Baloo Paaji 2", cursive;
}
.twoButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  margin: none;
  margin: 20px;
  background-color: #272525c5;
}
Header img {
  width: 500px;
  height: auto;
  border: 2px solid #dd2c00;
  border-radius: 20px;
  margin: none;
}
button {
  outline: none;
  width: 130px;
  height: 42px;
  border-radius: 20px;
  border: 1px solid #3a0101;
  margin: 20px;
  padding: none;
  color: #2a2626;
  font-size: 16px;
  font-weight: bolder;
  line-height: 01rem;
  background-color: #dd2c00;
  font-family: "Baloo Paaji 2", cursive;
}
button:hover {
  outline: none;
  width: 130px;
  height: 55px;
  border-radius: 20px;
  border: 3px solid #dd2c00;
  margin: 20px;
  padding: none;
  color: whitesmoke;
  font-size: larger;
  background-color: #2a2626;
  font-family: "Baloo Paaji 2", cursive;
}
body {
  margin: 0;
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dd2c00;
  font-size: 1.15rem;
  line-height: 1.55rem;
  background-color: #272525c5;
  padding: 56px;
  border: 1px solid #dd2c00;
  border-radius: 20px;
}
.homepage ul {
  border: 1px solid whitesmoke;
  border-radius: 20px;
  background-color: #272525;
  padding: 24px;
}
.homepage li {
  list-style: none;
  color: #dd2c00;
  text-shadow: 0px 0px 3px #000000;
  font-weight: bold;
  line-height: 2.2rem;
}
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dd2c00;
  border-radius: 10px;
  padding: 9px;
  margin-bottom: 32px;
}
.rules {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dd2c00;
  font-size: 1.15rem;
  line-height: 1.55rem;
  background-color: #272525c5;
  padding: 56px;
  border: 1px solid #dd2c00;
  border-radius: 20px;
}
.rules ul {
  border: 1px solid whitesmoke;
  border-radius: 20px;
  background-color: #272525;
  padding: 24px;
}
.rules li {
  list-style: none;
  color: #dd2c00;
  text-shadow: 0px 0px 3px #000000;
  font-weight: bold;
  line-height: 2.2rem;
}

/* .description li {
  list-style-image: url("https://media.discordapp.net/attachments/701514992767205459/719459540512407621/rustIcon.png");
  height: 10px;
  width: 10px;
} */
